<div style="padding: 13px;">

    <mat-spinner *ngIf="usuarios.length == 0"></mat-spinner>
    <mat-card *ngFor="let usuario of usuarios" style="margin-top: 13px;">
    
        <mat-card-header>
            <mat-card-subtitle>id: {{usuario.id}}</mat-card-subtitle>
            <mat-card-subtitle>nombre: {{usuario.nombre}}</mat-card-subtitle>
            <mat-card-subtitle>apellido: {{usuario.apellido}}</mat-card-subtitle>
            <mat-card-subtitle>telefono: {{usuario.celular}}</mat-card-subtitle>
            <mat-card-subtitle>DNI: {{usuario.dni}}</mat-card-subtitle>
            <mat-card-subtitle>correo: {{usuario.correo}}</mat-card-subtitle>
            <mat-card-subtitle>contraseña: {{usuario.contrasena}}</mat-card-subtitle>
        </mat-card-header>

    </mat-card>

</div>