<div style="padding: 13px;">

    <mat-spinner *ngIf="usuarios.length == 0"></mat-spinner>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>  
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Telefono</th>
          <th scope="col">DNI</th>
          <th scope="col">correo</th>
          <th style="text-align:center;" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.id}}</td>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.apellido}}</td>
          <td>{{usuario.celular}}</td>
          <td>{{usuario.dni}}</td>
          <td>{{usuario.correo}}</td>
          <td align="center">
            <button onClick="window.location.reload();" type="button" class="btn btn-danger">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>