<footer class="row">

    <section class="contenedor-main row">
        <div class="col-md-1">
            <p></p>
        </div>
        <main class="col-md-5">
            <img src="https://scontent.ftru2-2.fna.fbcdn.net/v/t1.6435-9/169654766_947153352491521_4420752942454004515_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFhX8mQQ6O4JZp_1zjDS7TeRJLuUhG7SBZEku5SEbtIFi9zYkCzVeJIj6Jw3WJCUioabHgQte_sfA8ZvAWX43ZI&_nc_ohc=EelJiMceOKoAX8LfSHe&_nc_ht=scontent.ftru2-2.fna&oh=00_AT_plU_NBVWAt0Iy7YRFhI0c8moFTGN3vt5Qf82m2g4z4A&oe=62B7C600" class="img-fluid">
        </main>

        <aside class="col-md-5">
            <form>
                <div class="form-group row">
                    <div class="col-sm-1">
                        <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1">
                        <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Apellidos: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1">
                        <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Correo: </label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="inputEmail3" value="">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1">
                        <p></p>
                    </div>

                    <div class="col-sm-10">
                        <label for="exampleFormControlTextarea1" class="form-label">Comentario: </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="valoracion col-sm-7">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <!--
                    --><label for="radio1">★</label>
                        <!--
                    --><input id="radio2" type="radio" name="estrellas" value="4">
                        <!--
                    --><label for="radio2">★</label>
                        <!--
                    --><input id="radio3" type="radio" name="estrellas" value="3">
                        <!--
                    --><label for="radio3">★</label>
                        <!--
                    --><input id="radio4" type="radio" name="estrellas" value="2">
                        <!--
                    --><label for="radio4">★</label>
                        <!--
                    --><input id="radio5" type="radio" name="estrellas" value="1">
                        <!--
                    --><label for="radio5">★</label>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-9">
                        <p></p>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-dark">Enviar</button>
                    </div>
                </div>

            </form>
        </aside>
        <div class="col-md-1">
            <p></p>
        </div>
    </section>

</footer>
