<footer class="row">

    <section class="contenedor-main row">
        <div class="col-md-1">
            <p></p>
        </div>
        <main class="col-md-5">
            <img src="/img/valoración.jpg" class="img-fluid">
        </main>

        <aside class="col-md-5">
            <form>
                <div class="form-group row">
                    <div class="col-sm-1">
                        <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1">
                        <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Apellidos: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1">
                        <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Correo: </label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="inputEmail3" value="">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1">
                        <p></p>
                    </div>

                    <div class="col-sm-10">
                        <label for="exampleFormControlTextarea1" class="form-label">Comentario: </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="valoracion col-sm-7">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <!--
                    --><label for="radio1">★</label>
                        <!--
                    --><input id="radio2" type="radio" name="estrellas" value="4">
                        <!--
                    --><label for="radio2">★</label>
                        <!--
                    --><input id="radio3" type="radio" name="estrellas" value="3">
                        <!--
                    --><label for="radio3">★</label>
                        <!--
                    --><input id="radio4" type="radio" name="estrellas" value="2">
                        <!--
                    --><label for="radio4">★</label>
                        <!--
                    --><input id="radio5" type="radio" name="estrellas" value="1">
                        <!--
                    --><label for="radio5">★</label>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-9">
                        <p></p>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-dark">Enviar</button>
                    </div>
                </div>

            </form>
        </aside>
        <div class="col-md-1">
            <p></p>
        </div>
    </section>

</footer>
