    <section class="contenedor-main row">
        <div class="col-md-1">
            <p></p>
        </div>
        <main class="col-md-5">
            <img src="https://scontent.ftru2-1.fna.fbcdn.net/v/t1.6435-9/108364915_770963163443875_2326198968378915778_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=9267fe&_nc_eui2=AeEOwUPYgFB536c6Pzcb7DLHbVk5zuQfXTNtWTnO5B9dM9JTcQGnNqu29wslVwjulbj0NGHBR8CKIw9cdyuaw6cx&_nc_ohc=ux5UReUNm1gAX82T5dE&_nc_ht=scontent.ftru2-1.fna&oh=00_AT83sMN-d2XIOWO98d9oACbAy9v8feFmikyKkBOPVEpH-Q&oe=62F64604" class="img-fluid">
        </main>

        <aside class="col-md-5">
            <form>
                <div class="form-group row">
                    <div class="col-sm-1">
                        <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1">
                        <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Apellidos: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1">
                        <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Correo: </label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="inputEmail3" value="">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1">
                        <p></p>
                    </div>

                    <div class="col-sm-10">
                        <label for="exampleFormControlTextarea1" class="form-label">Comentario: </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="valoracion col-sm-7">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <!--
                    --><label for="radio1">★</label>
                        <!--
                    --><input id="radio2" type="radio" name="estrellas" value="4">
                        <!--
                    --><label for="radio2">★</label>
                        <!--
                    --><input id="radio3" type="radio" name="estrellas" value="3">
                        <!--
                    --><label for="radio3">★</label>
                        <!--
                    --><input id="radio4" type="radio" name="estrellas" value="2">
                        <!--
                    --><label for="radio4">★</label>
                        <!--
                    --><input id="radio5" type="radio" name="estrellas" value="1">
                        <!--
                    --><label for="radio5">★</label>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-9">
                        <p></p>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-dark">Enviar</button>
                    </div>
                </div>

                <h2>Tipos de Opiniones</h2>
                <h2> Henry Velezmoro</h2>
                <h3>  Es una buena pagina para el empleamiento de residuos de madera. </h3>
                <button type="button" class="btn btn-primary btn-sm">Editar comentario</button>
                <button type="button" class="btn btn-secondary btn-sm">Eliminar comentario</button>
                <h2> Diego Quezada</h2>
                <h3>  Me agrada la pagina, es muy simple e intuitiva. </h3><button type="button" class="btn btn-primary btn-sm">Editar comentario</button>
                <button type="button" class="btn btn-secondary btn-sm">Eliminar comentario</button>
               
               


            </form>
        </aside>
        <div class="col-md-1">
            <p></p>
        </div>
    </section>
