<div style="padding: 13px;">

  <mat-spinner *ngIf="formularios.length == 0"></mat-spinner>
  <mat-card *ngFor="let formulario of formularios" style="margin-top: 13px;">
  
      <mat-card-header>
        <mat-card-subtitle>id: {{formulario.id}}</mat-card-subtitle>
          <mat-card-subtitle>nombre: {{formulario.nombre}}</mat-card-subtitle>
          <mat-card-subtitle>apellidos: {{formulario.apellido}}</mat-card-subtitle>
          <mat-card-subtitle>telefono: {{formulario.telefono}}</mat-card-subtitle>
          <mat-card-subtitle>departamento: {{formulario.departamento}}</mat-card-subtitle>
          <mat-card-subtitle>ciudad: {{formulario.ciudad}}</mat-card-subtitle>
          <mat-card-subtitle>distrito: {{formulario.distrito}}</mat-card-subtitle>
          <mat-card-subtitle>direccion: {{formulario.direccion}}</mat-card-subtitle>
          <mat-card-subtitle>referencia: {{formulario.referencia}}</mat-card-subtitle>
          <mat-card-subtitle>tipomadera: {{formulario.tipomadera}}</mat-card-subtitle>
          <mat-card-subtitle>cantidad: {{formulario.cantidad}}</mat-card-subtitle>
          <mat-card-subtitle>descripcion: {{formulario.descripcion}}</mat-card-subtitle>
          <mat-card-subtitle>estado: {{formulario.estado}}</mat-card-subtitle>
      </mat-card-header>

  </mat-card>

</div>