<mat-toolbar id="nav-menu" style="margin-bottom: 1rem">
  &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" style="color:#3f51b5;">home</mat-icon>
  &nbsp;<span>Jardinero Peruano</span>
  
    <span class="spacer"></span>
  
    <button mat-button routerLink="/inicio" class="ms-2" >Inicio</button>
    <button mat-button routerLink="/registro" class="ms-2" >Registro</button>
    <button mat-button routerLink="/formulario" class="ms-2" >Formulario</button>
    <button mat-button routerLink="/valoracion" class="ms-2" >Valoración</button>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="row" style="margin-top: 1rem">
  
  <div class="col-md-4">
    <p>Cotacto:</p>
    <li>Hacer un reclamo</li>
    <li>Preguntas frecuentes</li>
    <li>Dar una sugerencia</li>
    <li>¿Quiénes somos?</li>
    <li>¿Cómo trabajamos?</li>
  </div>

  <div class="centro col-md-4">
    <p>Empresa</p>

    <div class="row">
    <a href="#"><span class="otherPage">Quiénes somos</span></a>
    </div>

    <div class="row">
      <a href="#"><span class="otherPage">Políticas</span></a>
    </div>

    <div class="row">
      <a href="#"><span class="otherPage">Calificanos</span></a>
    </div>

  </div>

  <div class="col-md-4">
    <p>Privacidad:</p>
    <li>¿Cómo protegemos tu privacidad?</li>
    <li>Términos y condiciones</li>
    <li>Ayuda</li>
  </div>

</footer>