footer{
	padding: 20px;
	background: #6DAB24;
	color: #fff;
    text-decoration: none;
}

footer .centro{
    color: #000;
}

footer .centro a{
    padding: 2px;
    color: #000;
    text-decoration: none;
}

footer .derecha{
    color: #000;
    text-align: center;
}

footer .derecha a{
    padding: 2px;
    text-align: center;
    color: #000;
    text-decoration: none;
}