  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9EDD88;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JardineroPeruano</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/tips">Tips</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/formulario">Formulario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/valoracion">Valoración</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/registro">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/admin">Administrador</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>

<footer class="pie-pagina">
  <div class="grupo-1">
      <div class="box">
          <figure>
              <a href="#">
                  <img src="https://scontent.ftru2-2.fna.fbcdn.net/v/t1.6435-9/169654766_947153352491521_4420752942454004515_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFhX8mQQ6O4JZp_1zjDS7TeRJLuUhG7SBZEku5SEbtIFi9zYkCzVeJIj6Jw3WJCUioabHgQte_sfA8ZvAWX43ZI&_nc_ohc=zz9pnspvzeQAX_aWrTB&_nc_ht=scontent.ftru2-2.fna&oh=00_AT90R9Hvx_dLGJrw_cMUPFiC87Z3Psk8RAqI2MkbEu9opw&oe=62F70E00" alt="Logo de JardineroPeruano">
              </a>
          </figure>
      </div>
      <div class="box">
          <h2>EMPRESA</h2>
          <p>Quiénes somos</p>
          <p>Políticas</p>
          <p>Calificanos</p>
      </div>
      <div class="box">
          <h2>SIGUENOS</h2>
          <div class="red-social">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-twitter"></a>
          </div>
          <p>jardineroperuano@gmail.com</p>
          <p>923026676</p>
      </div>
  </div>
  <div class="grupo-2">
      <small>&copy; 2022 <b>JardineroPeruano</b> - Todos los Derechos Reservados.</small>
  </div>
</footer>