<mat-toolbar id="nav-menu">
  &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon" style="color:#3f51b5;">home</mat-icon>
  &nbsp;<span>jardinero Peruano</span>
  
    <span class="spacer"></span>
  
    <button mat-button routerLink="/inicio" class="ms-2" >Inicio</button>
    <button mat-button routerLink="/registro" class="ms-2" >registro</button>
    <button mat-button routerLink="/valoracion" class="ms-2" >valoracion</button>
    <button mat-button routerLink="/formulario" class="ms-2" >formulario</button>
  </mat-toolbar>

<router-outlet></router-outlet>

<footer class="row">
  
  <div class="izquierda col-md-4">
    <img src="https://scontent.ftru2-2.fna.fbcdn.net/v/t1.6435-9/169654766_947153352491521_4420752942454004515_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFhX8mQQ6O4JZp_1zjDS7TeRJLuUhG7SBZEku5SEbtIFi9zYkCzVeJIj6Jw3WJCUioabHgQte_sfA8ZvAWX43ZI&_nc_ohc=EelJiMceOKoAX8LfSHe&_nc_ht=scontent.ftru2-2.fna&oh=00_AT_plU_NBVWAt0Iy7YRFhI0c8moFTGN3vt5Qf82m2g4z4A&oe=62B7C600" width="100" class="img-fluid">
  </div>

  <div class="centro col-md-4">
    <p style = "font-size: 28px;">Empresa</p>

    <div class="row">
    <a style = "font-size: 20px;" href="#"><span class="otherPage">Quiénes somos</span></a>
    </div>

    <div class="row">
      <a style = "font-size: 20px;" href="#"><span class="otherPage">Políticas</span></a>
    </div>

    <div style = "font-size: 20px;" class="row">
      <a href="#"><span class="otherPage">Calificanos</span></a>
    </div>

  </div>

  <div class="derecha col-md-4">
    <p style = "font-size: 28px;">Redes sociales</p>
    <div class="row">
      <a href="#"><span class="otherPage">Quiénes somos</span></a>
      </div>
  
      <div class="row">
        <a style = "font-size: 20px;" href="#"><span class="otherPage">jardineroperuano@gmail.com</span></a>
      </div>
  
      <div class="row">
        <a style = "font-size: 20px;" href="#"><span class="otherPage">Calificanos</span></a>
      </div>
  </div>

</footer>