footer{
	padding: 10px;
	background: #6DAB24;
	color: #fff;
    text-decoration: none;
}

footer .centro{
    color: #000;
}

footer .centro a{
    color: #000;
    text-decoration: none;
}

footer .izquierda{
    color: #000;
    text-align: center;
}

footer .izquierda a{
    text-align: center;
    color: #000;
    text-decoration: none;
}