form .form-group{
    margin-bottom: 10px;
    color: #fff;
}

footer{
    background-color: #000;
}

main{
    margin: 30px;
    background: #000;
}

.contenedor-main .titulo{
    margin-top: 10px;
    color: #fff;
    text-align: center;
}

section{
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

aside {
    text-align: left;
    background: #FFAB00;
    padding: 20px 0;
}