    <section class="contenedor-main row">
      <div class="col-md-1"><p></p></div>
      <main class="col-md-5">
          <div class="titulo row">
            <h1>Forma parte del cambio</h1>
          </div>
          <div class="row">
            <img src="https://scontent.ftru2-3.fna.fbcdn.net/v/t1.6435-9/195078967_980462042493985_5377817855290197765_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGSJV9WT6VWK8L5cRZcUBmQXTbckzKFiYVdNtyTMoWJhQUmdJOQwprXxgmW3-LHKD8fAI_WGdeBZOht5J9rwcxr&_nc_ohc=0VWhlqX12LcAX80EvQz&_nc_ht=scontent.ftru2-3.fna&oh=00_AT_taddV2RH9bMjeRa8Rfkm7t2Ujfnz5ldkw1U1Nbwc6Cw&oe=62F5D9B5" class="img-fluid">
          </div>
      </main>
      
      <aside class="col-md-5">
         <form>   
                  <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre: </label>
                    <div class="col-sm-8">
                     <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Apellidos: </label>
                    <div class="col-sm-8">
                     <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Telefono: </label>
                    <div class="col-sm-8">
                     <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Departamento: </label>
                    <div class="col-sm-8">
                       <select class="form-select" aria-label="Default select example">
                         <option selected>Seleccione</option>
                         <option value="1">La Libertad</option>
                       </select>
                    </div> 
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Provincia: </label>
                    <div class="col-sm-8">
                       <select class="form-select" aria-label="Default select example">
                         <option selected>Seleccione</option>
                         <option value="1">Ascope</option>
                         <option value="2">Bolivar</option>
                         <option value="3">Chepen</option>
                         <option value="4">Gran Chimú</option>
                         <option value="5">Julcán</option>
                         <option value="6">Otuzco</option>
                         <option value="7">Pacasmayo</option>
                         <option value="8">Pataz</option>
                         <option value="9">Sánchez Carrión</option>
                         <option value="10">Santiago de Cguco</option>
                         <option value="11">Trujillo</option>
                         <option value="12">Virú</option>
                       </select>
                    </div> 
                   </div>
  
                   <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Distrito: </label>
                    <div class="col-sm-8">
                       <select class="form-select" aria-label="Default select example">
                         <option selected>Seleccione</option>
                         <option value="1">El Porvenir</option>
                         <option value="2">Florencia de Mora</option>
                         <option value="3">Huanchaco</option>
                         <option value="4">La Esperanza</option>
                         <option value="5">Laredo</option>
                         <option value="6">Moche</option>
                         <option value="7">Poroto</option>
                         <option value="8">Salaverry</option>
                         <option value="9">Simbal</option>
                         <option value="10">Trujillo</option>
                         <option value="11">Victor Larco Herrera</option>
                       </select>
                    </div> 
                   </div>
  
                   <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Dirección: </label>
                    <div class="col-sm-8">
                     <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Referencia: </label>
                    <div class="col-sm-8">
                     <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Tipo de madera: </label>
                    <div class="col-sm-8">
                       <select class="form-select" aria-label="Default select example">
                         <option selected>Seleccione</option>
                         <option value="1">Caoba</option>
                         <option value="2">Cedro</option>
                         <option value="3">Eucalipto</option>
                         <option value="4">Pino</option>
                         <option value="5">Roble</option>
                         <option value="6">Sphingo</option>
                         <option value="7">Tornillo</option>
                       </select>
                    </div> 
                   </div>
  
                   <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Cantidad: </label>
                    <div class="col-sm-8">
                       <select class="form-select" aria-label="Default select example">
                         <option selected>Seleccione</option>
                         <option value="1">Harto</option>
                         <option value="2">Regular</option>
                         <option value="3">Poco</option>
                       </select>
                    </div> 
                   </div>
  
                   <div class="form-group row">
                      <div class="col-sm-1">
                        <p></p>
                      </div>
  
                      <div class="col-sm-10">
                        <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                       </div>
  
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-9">
                      <p></p>
                    </div>
                    <div class="col-sm-3">
                      <button type="button" class="btn btn-dark">Enviar</button>
                    </div>
                  </div>
                  
         </form>
      </aside>
      <div class="col-md-1"><p></p></div>
    </section>
 
  