form .form-group{
    margin-bottom: 10px;
}

footer{
    background-color: #000;
}

main{
    background: #fff;
}

section{
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

aside {
    text-align: left;
    background: #FFAB00;
    padding: 60px 0;
}