    <section class="contenedor-main row">
      <div class="col-md-1"><p></p></div>
      <main class="col-md-5">
          <div class="titulo row">
            <h1 style="color:#000">Forma parte del cambio</h1>
          </div>
          <div class="row">
            <img src="https://scontent.ftru2-3.fna.fbcdn.net/v/t1.6435-9/104636629_753079688565556_6960407138445455927_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeF0exlY1I9j-JHXFVL2AyQ-3xButlNElPjfEG62U0SU-FemDWrbzn8JC0qKkuV2Q9hBr2A_FuHj44vXXQPpA4Ve&_nc_ohc=xt5CRLPLh9YAX98ysYC&_nc_ht=scontent.ftru2-3.fna&oh=00_AT8ddJMvaP2I8Rm_FTGtwZjq4ZOJNbxcrLws6_x9b37Ojw&oe=62F66ACE" class="img-fluid">
          </div>
      </main>
      
      <aside class="col-md-5">
         <h2 class="titulo" style="color:#000">REGISTATE</h2>
         <form>   
                  <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre: </label>
                    <div class="col-sm-8">
                     <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Apellidos: </label>
                    <div class="col-sm-8">
                     <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Telefono: </label>
                    <div class="col-sm-8">
                     <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                  </div>
  
                   <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">dni: </label>
                    <div class="col-sm-8">
                     <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-1">
                      <p></p>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Correo: </label>
                    <div class="col-sm-8">
                     <input type="text" class="form-control" id="inputEmail3" value="">
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-9">
                      <p></p>
                    </div>
                    <div class="col-sm-3">
                      <button type="button" class="btn btn-dark">Registrar</button>
                    </div>
                  </div>
                  
         </form>
      </aside>
      <div class="col-md-1"><p></p></div>
    </section>