<div class="container">

    <div class="row">
        <div class="col-md-6">
            <p>Cotacto:</p>
            <li>Hacer un reclamo</li>
            <li>Preguntas frecuentes</li>
            <li>Dar una sugerencia</li>
            <li>¿Quiénes somos?</li>
            <li>¿Cómo trabajamos?</li>
          </div>
        
          <div class="col-md-6">
            <p>Nuestras redes:</p>
            <li>Block Tecno Store</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
            <li>Youtube</li>
          </div>
    </div>

    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-primary">Primary</button>

</div>